:root {
    --main-bg-color: #482513;
    --main-color: white;
    --second-bg-color: #cb925d;

}

* {
    width: 100;
    height: auto;
}

.bg-main {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.padding {
    padding-left:3%;
    padding-right: 3%;
}

.test {
    padding-left: 39%!important;
}

.border-color {
    border: 2px solid #521503;
}

.title-form {
    margin-left: 15%!important;
}

.secondary {
    background-color: var(--second-bg-color);
}

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: var(--second-bg-color)!important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid var(--second-bg-color)!important;
    box-shadow: 0 1px 0 0 var(--second-bg-color)!important;
  }

.checkboxForm {
    opacity: 1!important;
    margin-left: 25px!important;
    margin-top: 7px!important;
}